[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "legislatoR"]
	path = legislatoR
	url = https://github.com/saschagobel/legislator
